<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sidang 2018</title>
        <link href="styles.css" rel="stylesheet" />
        <script src="vue.js"></script>
    </head>
    <body>
        <div id="vue-app" >
            <div v-on:keyup.shift.alt.q="logQuestion" v-on:keyup.shift.alt.a="logAnswer"
                v-on:keyup.shift.alt.j="logJustification" v-on:keyup.shift.alt.o="logOrder">
            <h1>Notulensi sidang</h1>
            <select v-model="selectedValue">
                <option disabled value="">Nama</option>
                <option v-for="item in absensi" :value="item">{{item}}</option>
            </select>
            <input tabindex="-1" type="text" v-model="type"/>
            <label>Input:</label>
            <input type="text" v-model="input" 
            v-on:keyup.enter="saveLog" />

            <template tabindex="-1" v-for="(log, index) in logs">
                <h3 > {{ log.user }} . {{ log.type }} </h3>
                <textarea tabindex="-1">
                    {{ log.des }}
                </textarea>
            </template>

            </div>
        </div>
    </body>

    <script src="app.js"></script>
</html>
